<div id="lb-container" class="lb-container">
  <div>
    {{warningMSG}}
  </div>
  <div class="controls">
    <button type="button" class="button-2" onclick="lightbox.closeCurrentLightbox();">{{cancelButton}}</button>
    <button type="button" class="button-1 okButton">{{okButton}}</button>
  </div>
</div>
