<!--
/*var messages = {
  error: language === 'nl' ?
    '<div class="receipt info"><span>Dit PH_TYPE verwijst naar "<a href="PH_OLD_URL" target="_blank">PH_OLD_URL</a>", een niet-beveiligde pagina (de url begint met "http://").<br>Het insluiten van niet-beveiligde pagina&#39;s (http://) in een beveiligde omgeving (https://) wordt door recente web browsers om veiligheidsredenen niet toegestaan.<br><a href="https://wiki.associatie.kuleuven.be/toledopedia/index.php/Een_item_met_audiovisueel_materiaal_toevoegen#Technische_adviezen" target="_blank">Meer informatie.</a></span></div>' :
    '<div class="receipt info"><span>This PH_TYPE refers to "<a href="PH_OLD_URL" target="_blank">PH_OLD_URL</a>", a non-secure web-page (the url starts with "http://").<br>For security reasons, the inclusion of non-secure content (http://) in a secure environment (https://) is not allowed in modern web browsers.<br><a href="https://wiki.associatie.kuleuven.be/toledopedia/index.php/Een_item_met_audiovisueel_materiaal_toevoegen#Technische_adviezen" target="_blank">More information.</a></span></div>',
  info : language === 'nl' ?
    '<div><div class="receipt info"><span><a href="PH_OLD_URL" target="_blank">laadt het onderstaande PH_TYPE niet? klik om de inhoud in een nieuw venster te bekijken</a><span></div></div>' :
    '<div><div class="receipt info"><span><a href="PH_OLD_URL" target="_blank">problems viewing the PH_TYPE below? click to open its contents in a new window</a></span></div></div>'
};*/
-->
