<div id="inlineReceipt_good" class="receipt good">
  <h3 class="hideoff">{{header}}</h3>
  <span aria-live="assertive" aria-atomic="true" role="alert">
    {{message}}
  </span>
  <br>
  <a class="close" href="#" title="{{close}}"></a>
</div>
